<%= form_for(:session, url: login_path) do |form| %>
  <%# if user.errors.any? %>
<!--    <div id="error_explanation">-->
<!--      <h2><%#= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>-->

<!--      <ul>-->
        <%# user.errors.full_messages.each do |message| %>
<!--          <li><%#= message %></li>-->
        <%# end %>
<!--      </ul>-->
<!--    </div>-->
  <%# end %>

  <div class="field">
    <%= form.label :user_email %>
    <%= form.text_field :user_email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>

  <div  class="field">
    <%= form.label :remember_me, class: "checkbox inline" do %>
      <%= form.check_box :remember_me %>
      <span>Remember me on this computer</span>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
